<h1>Secrets</h1>

<% if @secrets %>
	<% @secrets.each do |s| %>
		<h4><%= s.content %></h4>

		<% if s.user == current_user %>
			<form action="/secrets/<%= s[:id] %>" method="post">
				<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete">
			</form>
		<% end %>
		
		<p class="likes"><%= s.likes.count %> Like<%= "s" unless s.likes.count == 1%></p>

		<% if s.likes.any? {|h| h[:user_id] == session[:user_id]} %>
			<form class="likes" action="/likes/destroy" method="post">
				<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
				<input type="hidden" name="_method" value="delete">
				<input type="hidden" name="like[secret_id]" value="<%= s.id %>">
				<input type="submit" value="Unlike">
			</form>
		<% else %>
			<form class="likes" action="/likes" method="post">
				<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
				<input type="hidden" name="like[secret_id]" value="<%= s.id %>">
				<input type="submit" value="Like">
			</form>
		<% end %>
	<% end %>
<% end %>